@font-face {
			font-family: "CyrillicOldBold";
			src: url("/fonts/CyrillicOldBold.eot");
			src: url("/fonts/CyrillicOldBold.eot?#iefix") format("embedded-opentype"),
			url("/fonts/CyrillicOldBold.woff") format("woff"),
			url("/fonts/CyrillicOldBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
